<!DOCTYPE html>
<html>

<head>
  <mate charest="utf-8" />
  <title>{{interval}}</title>
  <style>
    body,
    html {
      padding: 0;
      margin: 0;
      color: #27272B;
      font-family: sans-serif;
    }

    h1 {
      font-size: 18px;
      padding-left: 32px;
      margin-bottom: 16px;
    }

    a {
      color: #4390BB;
    }

    .page {
      max-width: 800px;
      margin: 0 auto;
    }

    .leads {}

    .lead {
      page-break-inside: avoid;
      padding-bottom: 2px;
      margin-bottom: 2px;
      border-bottom: 1px dotted #CFCFCF;
    }

    .lead:after {
      content: "";
      display: block;
      clear: both;
    }

    .lead:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }

    .lead__left {
      padding: 8px 16px 8px 32px;
      overflow: hidden;
    }

    .lead__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    .lead__header:before {
      position: absolute;
      right: 100%;
      top: 2px;
      counter-increment: leads;
      content: counter(leads) ".";
      color: #A3A3A3;
      font-size: 12px;
      padding-right: 2px;

    }

    .lead__title {
      font-size: 15px;
      margin-bottom: 10px;
    }

    .lead__url {
      font-size: 12px;
      display: inline-block;
      margin-bottom: 16px;
    }

    .lead__date {
      color: #AEAEAE;
      font-size: 12px;
      display: inline-block;
      margin-left: 8px;
    }

    .lead__contacts {}

    .lead__name {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .lead__phone {
      font-size: 14px;
      color: #234E66;
      margin-bottom: 4px;
    }

    .lead__info {
      margin-bottom: 16px;
      font-size: 12px;
    }

    .lead__footer {
      justify-content: space-between;

    }

    .lead__user {
      overflow: hidden;
    }

    .lead__user-name {
      font-size: 14px;
    }

    .lead__site-domain {
      color: #4390BB;
      font-size: 14px;
    }

    .lead__site {
      float: right;
      text-align: right;
    }

    .lead__right {
      float: right;
      width: 220px;
      box-sizing: border-box;
      padding: 8px 16px;
      border-left: 1px dotted #CFCFCF;
    }

    .lead__label {
      font-size: 13px;
      color: #57565C;
      margin-bottom: 4px;
    }

    .lead__master {
      margin-bottom: 14px;
    }

    .lead__meter-date {
      font-size: 14px;
    }

    .lead__meter-time {
      font-size: 13px;
      margin-bottom: 16px;
    }

    .common {
      margin-left: 32px;
      margin-bottom: 32px;
    }

    .common:after {
      content: "";
      display: block;
      clear: both;
    }

    .common__block {
      float: left;
      padding-right: 20px;
      margin-bottom: 20px;
      height: 40px;
      width: 170px;
    }

    .common__block-header {
      font-size: 14px;
    }

    .common__block-value {
      font-size: 24px;
      font-weight: bold;
      color: #4390BB;
    }

    .table {
      margin-left: 32px;
      margin-bottom: 32px;
    }

    .table table {
      margin-left: -8px;
    }

    .table__header {
      color: #57565C;
    }

    table {
      margin: 0 0 20px;
      width: 100%;
      padding: 0;
      border: 0;
      border-collapse: collapse;
    }

    tr:nth-child(2n+1) {
      background-color: #F6F6F6;
    }

    tr:first-child {
      background-color: transparent;
    }

    th {
      padding: 4px 8px;
      color: #57565C;
      background-color: #eaeaea;
      font-weight: normal;
      text-align: left;
    }

    td {
      padding: 6px 8px;
    }
  </style>
</head>

<body>
  <div class="page">
    <h1>{{interval}}:</h1>
    <div class="common">
      {{#each common}}
      <div class="common__block">
        <div class="common__block-header">{{name}}:</div>
        <div class="common__block-value">{{value}}</div>
      </div>
      {{/each}}
    </div>

    {{#each tables}}
    <div class="table">
      <table>
        <tr>
          {{#each header}}
          <th>{{this}}</th>
          {{/each}}
        </tr>
        {{#each data}}
        <tr>
          {{#each this}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </table>
    </div>
    {{/each}}

    <div class="leads" style='counter-reset: leads {{startValue}};'>
      {{#each data}}
      <div class="lead">
        <div class="lead__right">
          <div class="lead__label">Замерщик:</div>
          <div class="lead__master">{{meterMaster}}</div>
          <div class="lead__label">Дата и время замера:</div>
          <div class="lead__meter-date">{{meterDate}}</div>
          <div class="lead__meter-time">{{meterTime}}</div>
          <div class="lead__result">
            <img src='/images/{{status.value}}.png' />
            {{#if price}}{{price}}₽{{/if}} <br>
            {{itemType}}
          </div>
        </div>
        <div class="lead__left">
          <div class="lead__header">
            <div class="lead__title">
              {{address}} (id: <a class="lead__url"
                href='https://universalstal.amocrm.ru/leads/detail/{{id}}'>{{id}}</a>)
            </div>
          </div>
          <div class="lead__content">
            <div class="lead__contacts">
              <div class="lead__name">{{contact.name}}</div>
              {{#each contact.phones}}
              <div class="lead__phone">{{this}}</div>
              {{/each}}
            </div>
            <div class="lead__info">{{meterInfo}}</div>
          </div>
          <div class="lead__footer">
            <div class="lead__site">
              <div class="lead__label">Сайт:</div>
              <div class="lead__site-domain">{{site}}</div>
            </div>
            <div class="lead__user">
              <div class="lead__label">Менеджер:</div>
              <div class="lead__user-name">{{userName}}</div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>

</html>